body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

:root {
	--headingPrimary: 120px;
	--headingPrimaryMobile: 50px;
	--headingSecondary: 70px;
	--headingSecondaryMobile: 20px;
	--primaryColor: #d3d3d3;
}

/* Frame components of App */

.App {
	display: flex;
	flex-flow: column;
	height: 100vh;
	width: 100vw;
}

.Header {
	width: 100%;
	height: 70px;
	background-color: var(--primaryColor);
}

.Content {
	min-height: 0;
	flex-grow: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* Text Components */
.MainText {
	font-size: var(--headingPrimary);
}

.SecondaryText {
	font-size: var(--headingSecondary);
}

@media only screen and (max-width: 500px) {
	.MainText {
		font-size: var(--headingPrimaryMobile);
	}
	.SecondaryText {
		font-size: var(--headingSecondaryMobile);
	}
}

.CentralDisplay {
	display: flex;
	flex-flow: column;
}

.CentralDisplay-SecondaryInformation {
	display: flex;
	justify-content: space-between;
}
